<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.currentplacedetailsonmap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".CompanyLogInActivity.MonitoringService"/>
        <activity
            android:name=".CompanyLogInActivity.MonitoringMode"
            android:exported="false" />
        <activity
            android:name=".StartingFrame.why"
            android:exported="false" />
        <activity
            android:name=".CompanyLogInActivity.YearSwap"
            android:exported="false" />
        <activity
            android:name=".CompanyLogInActivity.MonthSwap"
            android:exported="false" />
        <activity
            android:name=".CompanyLogInActivity.CleaningRouteAct"
            android:exported="false" />
        <activity
            android:name=".CompanyLogInActivity.PointList"
            android:exported="false" />
        <activity
            android:name=".CompanyLogInActivity.ComboBoxMapAct"
            android:exported="false" />
        <activity
            android:name=".CompanyLogInActivity.StatsAndDelete"
            android:exported="false" />
        <activity
            android:name=".ListViewerActivities.CompanyMap"
            android:exported="false" />
        <activity
            android:name=".CompanyMenu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyLogInActivity.CompanyActivity"
            android:exported="false" />
        <activity
            android:name=".DepositActivity.DepositWasteActivity"
            android:exported="false" />
        <activity
            android:name=".Legend.LegendActivity"
            android:exported="false"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapsActivity.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".MapPointActivity.StatsTabActivity"
            android:exported="false"
            android:label="Test Fragment" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".StartingFrame.StartingWindow"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>